@keyframes "zoom" {
	from {
		transform: scale(0.5);
	}
	to {
		transform: scale(1);
	}
}
@-webkit-keyframes "scroll" {
	0% {
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0);
	}
	100% {
		-webkit-transform: translate(-100%, 0);
		transform: translate(-100%, 0);
	}
}
@-moz-keyframes "scroll" {
	0% {
		-moz-transform: translate(0, 0);
		transform: translate(0, 0);
	}
	100% {
		-moz-transform: translate(-100%, 0);
		transform: translate(-100%, 0);
	}
}
@keyframes "scroll" {
	0% {
		transform: translate(0, 0);
	}
	100% {
		transform: translate(-100%, 0);
	}
}
#root {
	margin: 0;
	background-color: #212224;
	display: flex;
	position: fixed;
	justify-content: space-around;
	width: 100%;
	height: 100%;
	padding: 10px 0;
	align-items: center;
	font-family: 'Roboto', sans-serif;
}
.mainBlock {
	background: linear-gradient(45deg, #29313b, #3b4450);
	border-radius: 15px;
	padding: 20px;
	overflow: hidden;
	height: auto;
}
.headerBlock {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	align-items: center;
	button {
		font-size: 12px;
		width: 60px;
		height: 60px;
		border-radius: 15px;
		border-color: #4d99fb !important;
		color: #4d99fb;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 5px;
		font-weight: 400;
		background: none;
		box-shadow: none !important;
		&:hover {
			color: #212224;
			background-color: #4d99fb;
			border-color: #4d99fb;
		}
	}
	a {
		font-size: 12px;
		width: 60px;
		height: 60px;
		border-radius: 15px;
		border-color: #4d99fb !important;
		color: #4d99fb;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 5px;
		font-weight: 400;
		background: none;
		box-shadow: none !important;
		&:hover {
			color: #212224;
			background-color: #4d99fb;
			border-color: #4d99fb;
		}
	}
}
.verticalBlock {
	height: 37%;
	max-height: 220px;
	justify-content: space-around;
	display: flex;
	flex-direction: column;
	button {
		margin: auto;
	}
}
.logo {
	color: #ffffff;
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.inputGroup {
	color: #fff;
	background: none;
	border: 1px solid #777a7f;
	font-size: 14px;
	border-radius: 5px;
}
.input {
	color: #fff;
	background: none;
	font-size: 14px;
	border: none;
	font-weight: 300;
	box-shadow: none;
	border-radius: 0;
	padding-left: 2px;
	&:active {
		color: #fff;
		background: none;
		font-size: 14px;
		border: none;
		font-weight: 300;
		box-shadow: none;
		border-radius: 0;
		padding-left: 2px;
	}
	&:enabled {
		color: #fff;
		background: none;
		font-size: 14px;
		border: none;
		font-weight: 300;
		box-shadow: none;
		border-radius: 0;
		padding-left: 2px;
	}
	&:focus {
		border-bottom: 1px solid #565f68;
	}
}
.input-group-prepend {
	span {
		color: #656f77;
		font-size: 19px;
		font-weight: 400;
		background: none;
		border: none;
		padding: 0.375rem 0;
		margin-right: 10px;
	}
}
.filterGroup {
	span {
		color: #656f77;
		font-size: 19px;
		font-weight: 400;
		background: none;
		border: none;
		padding: 0.375rem 0;
		margin-right: 10px;
	}
	div {
		width: 30%;
		display: flex;
		&:nth-child(2) {
			border-left: 1px solid #565f68;
			border-right: 1px solid #565f68;
			padding: 0 20px;
		}
	}
}
.musicBlock {
	padding: 10px 5px;
	height: 60px;
	display: flex;
	justify-content: space-between;
	cursor: grab;
	&:hover {
		background-color: #ffffff0d;
		border-radius: 5px;
	}
	img {
		height: 100%;
		width: auto;
		border-radius: 50%;
	}
}
.fullNameMusis {
	font-size: 13px;
	color: #fff;
	font-weight: 300;
	margin: 0 10px;
	display: flex;
	align-items: center;
	width: 80%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: pre;
	flex-wrap: wrap;
	span {
		width: 100%;
	}
}
.timeMusis {
	color: #fff;
	display: flex;
	align-items: center;
	font-size: 14px;
	width: 15%;
	justify-content: end;
}
.musicalPlayer {
	width: 100%;
	min-height: 130px;
	height: auto;
	background: linear-gradient(46deg, #4289e3, #1749f7);
	border-radius: 15px;
	padding: 15px;
	margin: 10px 0;
	box-shadow: 0px 0px 17px #17181a;
}
.musicalPlayerTechnical {
	display: flex;
	justify-content: space-between;
	margin-top: 5px;
	button {
		background: none;
		border: none;
		color: #fff;
	}
}
.fileMusic {
	-webkit-appearance: none;
	width: 100%;
	height: 3px;
	background-color: #ccc;
	outline: none;
	-webkit-transition: .2s;
	transition: opacity .2s;
	margin: 12px 0px 5px 0px;
	cursor: pointer;
	&:hover {
		opacity: 1;
	}
	&::-webkit-slider-thumb {
		appearance: none;
		width: 11px;
		height: 11px;
		border-radius: 100%;
		background: #ffffff;
	}
}
.fileMusicTime {
	display: flex;
	justify-content: space-between;
	div {
		color: #ffffffad;
		width: auto;
		font-weight: 300;
		font-size: 12px;
	}
}
.filterSelect {
	background: none;
	color: #777a7f;
	border: none;
	height: 33px;
	width: 100%;
}
button {
	&:active {
		outline: none !important;
		box-shadow: none !important;
	}
	&:focus {
		outline: none !important;
		box-shadow: none !important;
	}
	span {
		margin-right: 5px;
	}
	&:disabled {
		opacity: 0.5;
	}
}
input {
	&:active {
		outline: none !important;
		box-shadow: none !important;
	}
	&:focus {
		outline: none !important;
		box-shadow: none !important;
	}
}
select {
	&:active {
		outline: none !important;
		box-shadow: none !important;
	}
	&:focus {
		outline: none !important;
		box-shadow: none !important;
	}
}
.cluesGroup {
	position: relative;
	width: 100%;
	display: flex;
	align-items: center;
	margin-bottom: 1rem;
	min-height: 35px;
	height: auto;
}
.clueGroup {
	margin-left: 10px;
	background: #656f77;
	padding: 1px 10px;
	border-radius: 10px;
	cursor: pointer;
	&:hover {
		background: #4d99fb;
	}
	&:checked {
		background: #4d99fb;
	}
}
.playlists {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	overflow-y: auto;
	height: 73vh;
	div {
		&:nth-child(1) {
			width: 100%;
			color: #fff;
			font-size: 18px;
			font-weight: 500;
			padding: 10px 0;
		}
	}
	&::-webkit-scrollbar {
		width: 7px;
		background-color: #fff0;
	}
	&::-webkit-scrollbar-thumb {
		border-radius: 10px;
		background-color: #4d99fb;
	}
	&::-webkit-scrollbar-track {
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
		border-radius: 10px;
		background-color: #fff0;
	}
}
.playlist {
	width: 150px;
	margin: 0 15px 0 0;
	position: relative;
	cursor: pointer;
	img {
		width: 100%;
		border-radius: 15px;
	}
	p {
		color: #fff;
		padding: 10px 0;
		font-size: 14px;
	}
	span {
		display: none;
	}
	&:hover {
		span {
			position: absolute;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			height: 150px;
			top: 0;
			font-size: 40px;
			color: #fff;
			background: linear-gradient(rgba(0,0,0,0.502),rgba(0,0,0,0),rgba(0,0,0,0));
			border-radius: 15px;
		}
	}
}
.scrollBlock {
	&::-webkit-scrollbar {
		width: 7px;
		background-color: #fff0;
	}
	&::-webkit-scrollbar-thumb {
		border-radius: 10px;
		background-color: #4d99fb;
	}
	&::-webkit-scrollbar-track {
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
		border-radius: 10px;
		background-color: #fff0;
	}
	overflow-y: auto;
	height: 45vh;
	padding: 0 15px 0 0;
	width: 100%;
	display: block;
	margin: 0;
}
.playlistNotHover {
	&:hover {
		span {
			display: none;
		}
	}
}
.headerTypeTwo {
	font-size: 13px;
	color: #fff;
	font-weight: 300;
}
.mainBlockAuthorization {
	padding: 20px;
	border-radius: 15px;
	display: flex;
	flex-wrap: wrap;
	color: #fff;
}
.headerTypeOne {
	width: 100%;
	color: #fff;
	font-size: 24px;
	font-weight: 500;
	padding: 10px 0;
	text-align: center;
}
.logoAuthorization {
	width: 300px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-right: 30px;
	flex-direction: column;
}
.styleButtonActive {
	color: #fff;
	background-color: #0d6efd;
	width: 100%;
	border-radius: 5px;
	margin-bottom: 10px;
}
.styleButtonLink {
	color: #fff;
	background: none;
	width: 100%;
	border: none;
	font-size: 14px;
	font-weight: 300;
}
.form-group {
	label {
		display: flex;
		justify-content: space-between;
		div {
			display: flex;
			align-items: center;
			color: #777a7f;
			span {
				font-size: 16px;
				margin-left: 4px;
			}
		}
	}
}
.messageErrorTypeOne {
	font-size: 13px;
	color: rgb(241, 97, 97);
	font-weight: 300;
	display: block;
}
.shortenText {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 100%;
}
.blockImgAvatar {
	width: 150px;
	height: 150px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	margin-top: 50px;
	cursor: pointer;
	>span {
		display: none;
	}
	&:hover {
		>span {
			position: absolute;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			height: 150px;
			top: 0;
			font-size: 40px;
			color: #fff;
			background: linear-gradient(rgb(0 0 0 / 60%),rgb(0 0 0 / 38%),rgba(0,0,0,0));
			border-radius: 15px;
		}
	}
}
.imgAvatar {
	width: 150px;
	height: 150px;
	border-radius: 15px;
}
.headerTypeThree {
	font-size: 1.75rem;
	color: #fff;
	width: 100%;
	text-align: center;
	margin: 15px 0;
}
.headerTypeFour {
	width: 100%;
	text-align: center;
	color: #fff;
	font-size: 15px;
	margin-bottom: 30px;
}
a {
	color: #4d99fb;
	text-decoration: none;
	font-weight: 500;
	&:hover {
		color: #ffffff;
		text-decoration: none;
		font-weight: 500;
	}
}
.tableStyleTypeOne {
	width: 100%;
	margin-top: 10px;
	border: 1px solid #777a7f;
	padding: 8px 10px;
}
.tableTrStyleTypeOne {
	display: flex;
	width: 100%;
	>div {
		padding: 11px 10px;
		display: flex;
		align-items: center;
		&:nth-child(1) {
			width: 30%;
			font-size: 13px;
			color: #fff;
			font-weight: 300;
			text-transform: capitalize;
		}
		&:nth-child(2) {
			width: 40%;
			justify-content: center;
		}
		&:nth-child(3) {
			width: 30%;
			justify-content: center;
			font-size: 13px;
			color: #777a7f;
			font-weight: 300;
			cursor: pointer;
			&:hover {
				color: #ffffff;
			}
		}
		&:nth-child(5) {
			width: 30%;
			justify-content: center;
			font-size: 13px;
			color: #777a7f;
			font-weight: 300;
			cursor: pointer;
		}
		>input {
			width: 100% !important;
			text-align: center;
		}
	}
	&:not(:first-child) {
		border-top: 1px solid #777a7f;
	}
	div {
		>button {
			background-color: #4d99fb;
			border-radius: 5px;
			border-color: #4d99fb;
			border-style: solid;
			color: #fff;
			&:hover {
				background: none;
				color: #4d99fb;
			}
		}
	}
}
.popUpWindow {
	cursor: context-menu;
	position: fixed;
	top: 0;
	left: 0;
	width: 100% !important;
	height: 100%;
	background: #00000094;
	z-index: 9999;
	display: flex;
	align-items: center;
}
.container {
	width: 80% !important;
	max-width: 800px;
	background: #45494e;
	border-radius: 15px;
	height: 80%;
	box-shadow: 0px 0px 16px #0000008a;
	padding: 20px !important;
	animation: 0.1s linear 0s alternate zoom;
}
.containerZona {
	width: 100% !important;
	height: 100%;
	background: #3c3f42;
	border-radius: 15px;
	border-color: rgb(46 47 48);
	border-style: dashed;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
	p {
		text-align: center;
		width: 100%;
		font-size: 16px;
		font-weight: 500;
		color: #898989;
	}
	h4 {
		text-align: center;
		width: 100%;
		font-size: 16px;
		font-weight: 500;
		color: #898989;
	}
	ul {
		list-style: none;
		padding: 0;
	}
	span {
		color: #898980;
		font-size: 75px;
		padding-bottom: 30px;
	}
}
ul {
	padding: 0;
}
.descriptionPlaylist {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 35px;
	align-items: center;
	img {
		width: 200px;
		border-radius: 15px;
	}
}
.descriptionPlaylistBlock {
	width: calc(100% - 220px);
	min-width: 300px;
	color: #fff;
	>div {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: center;
		>button {
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 5px 15px;
			min-width: 130px;
			border-radius: 5px;
			border-color: #4d99fb;
			border-style: solid;
			border-width: 2px;
			color: #4d99fb;
			font-weight: 500;
			margin-right: 15px;
			background: none;
		}
	}
	div {
		a {
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 5px 15px;
			min-width: 130px;
			border-radius: 5px;
			border-color: #4d99fb;
			border-style: solid;
			border-width: 2px;
			color: #4d99fb;
			font-weight: 500;
			margin-right: 15px;
			background: none;
			&:hover {
				opacity: 0.8;
			}
		}
		button {
			&:hover {
				opacity: 0.8;
			}
			&:nth-child(1) {
				background: #4d99fb;
				color: #212224;
			}
		}
	}
}
.buttonStyleTwoButton {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	button {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 5px 15px;
		min-width: 130px;
		border-radius: 5px;
		border-color: #4d99fb;
		border-style: solid;
		border-width: 2px;
		color: #4d99fb;
		font-weight: 500;
		margin-right: 15px;
		background: none;
	}
}
.styleFullBlock {
	color: #fff;
	font-size: 14px;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.musicBlockHover {
	background-color: #ffffff1c;
}
.popUpWindowClose {
	position: fixed !important;
	top: 0 !important;
	right: 0 !important;
	z-index: 99999 !important;
	margin: 20px !important;
	background: #3c3f42 !important;
	padding: 7px 20px !important;
	border-color: #3c3f42 !important;
	border-radius: 5px !important;
	border-style: solid !important;
	color: #fff !important;
	font-weight: 400 !important;
	min-width: auto !important;
	&:hover {
		color: #fff !important;
		box-shadow: none !important;
	}
}
.ticker {
	display: inline-block;
	padding-left: 100%;
	-webkit-animation: scroll 15s infinite linear;
	-moz-animation: scroll 15s infinite linear;
	animation: scroll 15s infinite linear;
	width: auto !important;
}
button[disabled] {
	opacity: 0.5;
}
